{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>branches</title>
    <link rel="stylesheet" href="{% static "stylesheets/branches.css" %}"/>
</head>
<body>
 <div class="container">
    <h1 style="text-align:center; font-style: italic; margin-top:5px ;">OUR BRANCHES</h1>
    <div class="row">

        <div class="card">
        <img src="/static/images/card1.jpg" alt="">
        <h1>KUKATPALLY BRANCH</h1>
        <P>ADDRESS:KJDHBKJSDBHGKJSDBHGSDFK</P>
          <a href="" class="btn">Know more</a>
        </div>

    <div class="card">
        <img src="/static/images/card1.jpg" alt="">
        <H1>HITECH CITY BRANCH</H1>
        <P>ADDRESS:KJDHBKJSDBHGKJSDBHGSDFK</P>
          <a href="" class="btn">Know more</a>
    </div>
    <div class="card">
        <img src="/static/images/card2.jpg" alt="not found">
        <H1>UPPAL BRANCH</H1>
        <P>ADDRESS:KJDHBKJSDBHGKJSDBHGSDFK</P>
          <a href="" class="btn">Know more</a>
    </div>
</div>
 </div>
</body>
</html>
