{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "stylesheets/reviews.css" %}"/>
    <title>Reviews</title>
  </head>
  <body>
    <section class="feedback">
      <div class="container">
        <h1>REVIEWS</h1>
        <p class="text-center">Our happy clients</p>
      <div class="row">
      <div class="col-md-4 text-center">
        <div class="profile">
          <img src="../static/images/profile.jpg" class="user"  alt="not found">
          <blockquote>
          The employees are good and they are very skilled.The customer satisfaction is their important motto.
          </blockquote>
          <h3>Ashish</h3>
        </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="profile">
            <img src="../static/images/profile.jpg" class="user"  alt="not found">
            <blockquote>
            The employees are good and they are very skilled.The customer satisfaction is their important motto.
            </blockquote>
            <h3>Ashish</h3>
          </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="profile">
              <img src="../static/images/profile.jpg" class="user"  alt="not found">
              <blockquote>
              The employees are good and they are very skilled.The customer satisfaction is their important motto.
              </blockquote>
              <h3>Anushka</h3>
            </div>
            </div>
            <div class="col-md-4 text-center">
              <div class="profile">
                <img src="../static/images/profile.jpg" class="user"  alt="not found">
                <blockquote>
                The employees are good and they are very skilled.The customer satisfaction is their important motto.
                </blockquote>
                <h3>Pavani</h3>
              </div>
              </div>

      </div>
      </div>
    </section>

  </body>
</html>
